/*************TAG SELECTOR*************/
body {
  background-color: whitesmoke;
  margin:0;
}
h1 {
  margin-top: 0;
}

/*************CLASS SELECTOR*************/
.main-page
{
  background-color: whitesmoke;
  font-family: 'Trebuchet MS', sans-serif;
  margin: auto;
  width: 50%;
}

/*************ID SELECTOR*************/
